<div class="container col-md-6 text-center mt-3 card p-2 bg-warning">
<h1 style="color:red;">update product</h1>

<form action="/admin/products/update/" method="POST">
    ID: <input type="text" name="id" value="{{Product._id}}"><br>
    Name: <input type="text" name="name" value="{{Product.name}}"><br>
    Age: <input type="number" name="age" value="{{Product.age}}"><br>
    Price: <input type="number" name="price" value="{{Product.price}}"><br>
    Quantity: <input type="number" name="quantity" value="{{Product.quantity}}"><br>
    Description: <input type="text" name="description" value="{{Product.description}}"><br>
    rating: <input type="text" name="ratting" value="{{Product.ratting}}"><br>
<button type="submit">Update product</button>

</form>
<h2><a href="/admin/products" class="btn btn-info">Go to Product Management Page</a></h2>
</div>